
<div *ngIf="orderdetail">
    <span class="column-label">{{'orderdetailShow.quantityOrdered' | translate}}:</span>
    <span class="column-data">{{orderdetail.quantityOrdered}}</span>
    <br />
    <span class="column-label">{{'orderdetailShow.priceEach' | translate}}:</span>
    <span class="column-data">{{orderdetail.priceEach}}</span>
    <br />
    <span class="column-label">{{'orderdetailShow.orderLineNumber' | translate}}:</span>
    <span class="column-data">{{orderdetail.orderLineNumber}}</span>
    <br />

</div>

