
<div *ngIf="office">
    <table class="datashow">
    <tr>
        <th>{{'officeShow.officeCode' | translate}}</th>
        <td>{{office.officeCode}}</td>
    </tr>
    <tr>
        <th>{{'officeShow.city' | translate}}</th>
        <td>{{office.city}}</td>
    </tr>
    <tr>
        <th>{{'officeShow.phone' | translate}}</th>
        <td>{{office.phone}}</td>
    </tr>
    <tr>
        <th>{{'officeShow.addressLine1' | translate}}</th>
        <td>{{office.addressLine1}}</td>
    </tr>
    <tr>
        <th>{{'officeShow.addressLine2' | translate}}</th>
        <td>{{office.addressLine2}}</td>
    </tr>
    <tr>
        <th>{{'officeShow.state' | translate}}</th>
        <td>{{office.state}}</td>
    </tr>
    <tr>
        <th>{{'officeShow.country' | translate}}</th>
        <td>{{office.country}}</td>
    </tr>
    <tr>
        <th>{{'officeShow.postalCode' | translate}}</th>
        <td>{{office.postalCode}}</td>
    </tr>
    <tr>
        <th>{{'officeShow.territory' | translate}}</th>
        <td>{{office.territory}}</td>
    </tr>
    </table>

</div>

