
<div *ngIf="office">
    <span class="column-label">{{'officeShow.officeCode' | translate}}:</span>
    <span class="column-data">{{office.officeCode}}</span>
    <br />
    <span class="column-label">{{'officeShow.city' | translate}}:</span>
    <span class="column-data">{{office.city}}</span>
    <br />
    <span class="column-label">{{'officeShow.phone' | translate}}:</span>
    <span class="column-data">{{office.phone}}</span>
    <br />
    <span class="column-label">{{'officeShow.addressLine1' | translate}}:</span>
    <span class="column-data">{{office.addressLine1}}</span>
    <br />
    <span class="column-label">{{'officeShow.addressLine2' | translate}}:</span>
    <span class="column-data">{{office.addressLine2}}</span>
    <br />
    <span class="column-label">{{'officeShow.state' | translate}}:</span>
    <span class="column-data">{{office.state}}</span>
    <br />
    <span class="column-label">{{'officeShow.country' | translate}}:</span>
    <span class="column-data">{{office.country}}</span>
    <br />
    <span class="column-label">{{'officeShow.postalCode' | translate}}:</span>
    <span class="column-data">{{office.postalCode}}</span>
    <br />
    <span class="column-label">{{'officeShow.territory' | translate}}:</span>
    <span class="column-data">{{office.territory}}</span>
    <br />

</div>

