
<div *ngIf="customer">
    <span class="column-label">{{'customerShow.customerNumber' | translate}}:</span>
    <span class="column-data">{{customer.customerNumber}}</span>
    <br />
    <span class="column-label">{{'customerShow.customerName' | translate}}:</span>
    <span class="column-data">{{customer.customerName}}</span>
    <br />
    <span class="column-label">{{'customerShow.contactLastName' | translate}}:</span>
    <span class="column-data">{{customer.contactLastName}}</span>
    <br />
    <span class="column-label">{{'customerShow.contactFirstName' | translate}}:</span>
    <span class="column-data">{{customer.contactFirstName}}</span>
    <br />
    <span class="column-label">{{'customerShow.phone' | translate}}:</span>
    <span class="column-data">{{customer.phone}}</span>
    <br />
    <span class="column-label">{{'customerShow.addressLine1' | translate}}:</span>
    <span class="column-data">{{customer.addressLine1}}</span>
    <br />
    <span class="column-label">{{'customerShow.addressLine2' | translate}}:</span>
    <span class="column-data">{{customer.addressLine2}}</span>
    <br />
    <span class="column-label">{{'customerShow.city' | translate}}:</span>
    <span class="column-data">{{customer.city}}</span>
    <br />
    <span class="column-label">{{'customerShow.state' | translate}}:</span>
    <span class="column-data">{{customer.state}}</span>
    <br />
    <span class="column-label">{{'customerShow.postalCode' | translate}}:</span>
    <span class="column-data">{{customer.postalCode}}</span>
    <br />
    <span class="column-label">{{'customerShow.country' | translate}}:</span>
    <span class="column-data">{{customer.country}}</span>
    <br />
    <span class="column-label">{{'customerShow.creditLimit' | translate}}:</span>
    <span class="column-data">{{customer.creditLimit}}</span>
    <br />

</div>

