
<div *ngIf="employee">
    <span class="column-label">{{'employeeShow.employeeNumber' | translate}}:</span>
    <span class="column-data">{{employee.employeeNumber}}</span>
    <br />
    <span class="column-label">{{'employeeShow.lastName' | translate}}:</span>
    <span class="column-data">{{employee.lastName}}</span>
    <br />
    <span class="column-label">{{'employeeShow.firstName' | translate}}:</span>
    <span class="column-data">{{employee.firstName}}</span>
    <br />
    <span class="column-label">{{'employeeShow.extension' | translate}}:</span>
    <span class="column-data">{{employee.extension}}</span>
    <br />
    <span class="column-label">{{'employeeShow.email' | translate}}:</span>
    <span class="column-data">{{employee.email}}</span>
    <br />
    <span class="column-label">{{'employeeShow.jobTitle' | translate}}:</span>
    <span class="column-data">{{employee.jobTitle}}</span>
    <br />

</div>

