
<h3>{{'employeeList' | translate}}</h3>

<data-table
    [titles]="employeeListTitles"
    [labels]="employeeListLabels"
    [rows]="employees"
    [columns]="employeeListColumns"
    [disableControl]="isEmbedded()"
    (onClickToSpecificRow)="onClickToSpecificRow($event)"
    [pagingType]="'more'"
    [hasMoreRows]="hasMoreRows"
    (onReadMore)="onReadMore()"
    >
</data-table>

<employee-list-filter (filtering)="filtering($event)"></employee-list-filter>

<mat-card>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                {{'Detail' | translate}}
            </ng-template>
            <div *ngIf="!isExclude('EmployeeShow')">
                <employee-show [embedded]="true" [employee]="employee"></employee-show>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>

